/* Variables for the graphic charter */
:root {
  --primary-color: #004449;
  --secondary-color: #40916d;
  --accent-color: #36868e;
  --background-color: #f4f1eb;
  --text-color: #737373;
  --light-text: #FFFFFF;
  --border-radius: 6px;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global rules */
.underlined {
  text-decoration: underline;
}

.bolded {
  font-weight: 700;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
}