/* Variables for the graphic charter */
:root {
  /* Colors */
  --primary-color: #004449;
  --secondary-color: #40916d;
  --accent-color: #36868e;
  --background-color: #f4f1eb;
  --text-color: #737373;
  --light-text: #FFFFFF;
  --red-color: #dc3545;
  --green-color: #198754;
  --blue-color: #0084ff;

  /* Layout */
  --border-radius: 6px;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global rules */
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
}

.underlined {
  text-decoration: underline;
}

.bolded {
  font-weight: 700;
}

/* Error and success alert */
.error-message,
.success-message {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 20px;
  border-radius: var(--border-radius);
  font-weight: 500;
}

.error-message {
  background-color: #ffe6e6;
  color: #d9534f;
  border-left: 4px solid #d9534f;
}

.success-message {
  background-color: #e6ffe6;
  color: #5cb85c;
  border-left: 4px solid #5cb85c;
}

.success-message a,
.error-message a {
  font-size: inherit !important;
}